#actua {
	width: 100%;
	margin-top: 46px;
    overflow: hidden;
    .row{@include display(flex);border-bottom: solid 1px #848484;
     .first{@include flex-basis(50%); text-align: start;
        h1 {
            font-weight: bold;margin-bottom: 9px;
        }
    }   
     .second{@include flex-basis(50%); text-align: end;
        h4 a {
            font-size: 15px;
            font-weight: bold;
            color: #404040;
            text-transform: uppercase;
            letter-spacing: 2px;
            word-spacing: 3px;
            &:hover{text-decoration: underline;}
        }
    
    }  
    
    
    
    }


    .row-second {
        margin-top: 48px;@include display(flex);
        .first-side{@include flex-basis(66%);margin-right: 4%;
            figure img {
                width: 100%;
                height: 400px;
            }
             span {
                margin-top: 10px;
                display: block;
                color: #858585;
                font-weight: 300;
                font-size: 16px;
                margin-left: 22px;
                position: relative;
            
            
           &::after {
                    position: absolute;
                    background: #858585;
                    content: "";
                    width: 20px;
                    height: 2px;
                    left: -25px;
                    top: 11px;
                    bottom: 0;
                    margin: 0 auto;
                }
            }
            h2{font-weight: 600;
                margin-bottom: -3px;              
                margin-top: 13px;}
        
        }
       p {
            font-weight: 300;
            font-size: 15px;
            color: #494949;
            line-height: 25px;
        }
         #jai {
            font-size: 15px;
            color: #f38820;
            position: relative;
            margin-left: 25px;
            font-weight: 400;
            text-transform: uppercase;
            &:hover{ color: $black-color; transition: all ease-in-out 0.3s;}
            &::after {
                position: absolute;
                background: $primary-color;
                content: "";
                width: 20px;
                height: 2px;
                left: -25px;
                top: 10px;
                bottom: 0;
                margin: 0 auto;
            }
        }
        #jai:hover::after {
            background: black !important;transition: all ease-in-out 0.3s;
        }
        .networking {
            margin-top: 27px;
            border-top: solid 1px #858585;
            padding-top: 17px;
            @include display(flex);
            .left{@include flex-basis(70%);
               @include display(flex);
               a {
               @include display(flex); @include flex-basis(35%);
              span {
                margin-top: 0;
                font-size: 13px;
                margin-left: 0;width: 55%;
                text-align: center;
                position: relative;
                &::after{display: none;}
            }
             }
             .asd {
                text-align: start !important;
                padding-left: 6px;
                width: 12% !important;
            }
             a:last-child span {
                text-align: start !important;
                padding-left: 8px;
                transform: translate(2px, -2px );
            }
           svg {
                color: #a0a0a0;
            }
            a:hover svg {
                color: black !important;
            }
            a:hover span {
                color: black !important;
            }

            }
            
            .right{@include flex-basis(30%);
                text-align: end;
                a {
                    margin: 0 5px;
                    svg{   color: #a0a0a0;}
                    &:hover svg{color: black;}
                }
            }
        }




        .right-side{@include flex-basis(30%);
            .example{@include display(flex);
                border: solid 1px #a0a0a0;
                    padding: 11px 6px;
                input {
                    background: transparent;
                    width: 70%;
                    border: none;
                }
                button {
                    background: transparent;
                    border: none;width: 24%;
                    svg {
                        font-size: 18px;
                        font-weight: 300;
                    }
                }



            }
            .recent{@include display(flex);
                .fiest {
                    width: 50%;
                    h6 {
                        text-align: end;
                        font-size: 15px;
                        font-weight: bold;
                        color: #404040;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                        word-spacing: 3px;
                        &:hover{text-decoration: underline; cursor: pointer;}
                       img {
                            margin-top: -9px;
                            transform: translatey(-3px);
                        }
                    }
                    h2 {
                        margin-top: 30px;
                    }
                }
            }
        
            .post{@include display(flex);
                figure {
                    width: 30%;
                    img {
                        width: 70px;
                        height: 70px;
                    }
                }
               samp {
                    font-size: 13px;
                    color: #858585;
                    font-weight: 500;
                    position: relative;
                    top: 14px;
                    word-spacing: -2px;
                    margin-top: -4px;
                    display: block;
                    &::after {
                        position: absolute;
                        background: #f38820;
                        content: "";
                        width: 21px;
                        height: 2px;
                        top: -8px;
                        left: -1px;
                    }
                }
              a h5 {
                    margin-top: 25px;
                    font-weight: 600;color: $black-color;
                }
            }
        }



    }
}




@media only screen and (max-width:991px){
    #actua .row-second .right-side .post figure {
        width: 44%;
    }
    
    }
    
    @media only screen and (max-width:991px){
    
      #actua .row .first, #actua .row .second {
        text-align: center;
      }
      #actua .row .first h1 {
        margin-bottom: 0;
      }
      .second h4 {
        margin-top: 36px;
      }
      #actua {
        margin-top: 0;
      }
      #actua .row-second {
        margin-top: 25px;    @include direction(column);
      }
      #actua .row-second .first-side, #actua .row-second .right-side{ @include flex-basis(100%);margin-right: 0;}
      #actua .row-second .networking {
        margin-top: 16px;
        padding-top: 19px;
      }
      #actua .row-second .first-side, #actua .row-second .right-side {
        margin-top: 33px;
      }
      #actua .row-second .first-side figure img {
        height: auto;
      }
      #actua .row-second .right-side .post figure {
        width: 10%;
      }
    
    
    
    }
    
    
    @media only screen and (max-width:767px){
    
      #actua .row-second .right-side .post{
    
        @include direction(column); text-align: center;
      }
    
      #actua .row-second .right-side .post figure {
        width: 100%;
      }
      #actua .row-second .right-side .post samp::after {
        left: 0;
        right: 0;
        margin: 0 auto;
      }
    
    }
    @media only screen and (max-width:767px){
      #actua .row-second .networking {
        margin-top: 13px;
        padding-top: 14px;@include direction(column);
      }
      #actua .row-second .networking .left{@include flex-basis(100%);}
      #actua .row-second .networking .left a span {
        font-size: 12px;
        width: 79%;
      }
      #actua .row-second .networking .right {
        flex-basis: 100%;
        text-align: start !important;
        margin-top: 24px;
      }
      #actua .row-second .right-side .recent .fiest h6 {
        letter-spacing: 0;
        word-spacing: 0;
        margin-top: 28px;
      }
    
    
    }
    
    
    
    @media only screen and (max-width:480px){
      #actua h1 {
        font-size: 21px;
        margin-top: 35px;
        text-align: start;
      }
      #actua .row .first, #actua .row .second {
        text-align: end;
      }
      #actua .row .second h4 a {
        font-size: 12px;
        letter-spacing: 0;
        word-spacing: 0;
      }
      h2 {
        font-size: 18px;
        line-height: 19px;
      }
      #actua .row-second .first-side {
        margin-top: 0;
      }
    
    
    @media only screen and (max-width:350px){
      #actua .row-second .networking .left a span {
        font-size: 11px;
        width: 87%;
      }
      #actua .row-second .networking .left svg {
        text-align: center;
        width: 57%;
      }
      #actua .row-second .networking .left a{@include direction(column);}
    }
    }
    
    