
header {
	width: 100%;padding: 20px 0;
    display: block;
    .row{
      @include display(flex);
      .logo{
          @include flex-basis(32%);
          img {
            width: 289px;
            height: 61px;
        }
    }
      #mobile {
        display: none;
    }
    #desktop {
        @include flex-basis(75%);
       ul{padding-right: 0;
        padding-left: 0;
            @include display(flex); @include justify-content(space-evenly);
           li a {
                color: black;
                text-transform: uppercase;
                font-size: 16px;
                font-weight: 500;position: relative; transition: all ease-in 0.5s;
                &:hover{color: $primary-color; transition: all ease-out 0.3s;}
                &::after {
                    position: absolute;
                    background: $primary-color;
                    content: "";
                    width: 0;
                    height: 2px;
                    bottom: -3px;
                    right: 0;
                    left: 0;
                    margin: 0 auto;

                }
            }
           a:hover::after {
                width: 100% !important;
                transition: all ease-out 0.5s;
            }
        }
        }
    .serach {
        @include flex-basis(10%);text-align: end;
        form{position: relative;
            input {
                display: none;
                position: absolute;
                    top: 13px;
                    bottom: 0;
                    padding: 7px 13px;
                    right: 60px;
                    transition: all ease-in 0.5s;

            }
            button {
                border: none;
                background: $primary-color;padding: 17px 18px;
                border-radius: 100%;
                &:hover {
                    background: black !important;
                    transition: all ease-in-out 0.4s;
                    cursor: pointer;
                }
                svg {
                    fill: white !important;
                    color: white;width: 20px;
                    height: 20px;
                }
            }

        }
    }
    .languages{
        @include flex-basis(10%);
        .click {
            display: inline-grid;
        }
        .as {
            display: none;
        }
    }

    .last {
       @include flex-basis(10%);position: relative;margin-top: -12px; @include align-self(center);
        text-align: end;
        &::after {
            position: absolute;
            content: "EN";
            top: 3px;
            right: 42px;color: $primary-color;
            font-size: 12px;
            font-weight: 600;
        }
        .svg-inline--fa.fa-caret-left.fa-w-6 {
            color:$primary-color;
            transform: translate(-5px, 0px);
        }
    
    .toggle-btn {
        border: none;
        background: transparent;

    }
    .click {
        position: absolute;
        padding: 0px 35px;
        right: -30px;
        top: 28px;
        z-index: 999;
        background:$primary-color;
        border-radius: 5px;
        .as {
            font-size: 16px;
            font-weight: 500;
            text-align: center;
            color: white;
            margin-bottom: 1px;
            padding-top: 6px;
            padding-bottom: 10px;
        }
    }
    }
}
.serach form:hover input{display: block;}   
}



@media only screen and (max-width: 1200px){
    .container {
        max-width: 1160px !important;
    }
    header .row .last .click {
        right: -8px;
        top: 42px;
    }
    #actua .row-second .right-side .post figure {
        width: 46%;
    }
    .fiest h2 {
        font-size: 21px !important;
    }
    #actua .row-second .networking .left {
       @include flex-basis(100%);
    }
    #rec .row h1 {
        width: 86%;
        line-height: 48px;
        margin-left: 0;
    }
    #rec .row form {
        right: -28%;
        width: 113%;
    }
    #mas .main-row .left-araea {
        max-width: 66%;
        margin: 0 27px;
    }


}

@media only screen and (max-width: 991px){
    header .row #desktop {
        display: none;
    }
    #mobile {
        display: block !important;
    }


    #mobile {
      display: block !important;
      position: absolute;
      right: 27px;
      top: 22px;width: 100%
    }
    #toggle {
      display: block;
      width: 28px;
      height: 30px;
      margin: 30px auto 10px;
      width: 36px;
      float: right;
    }
  
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
  }
  #toggle span:after{
    top: 9px;
  }
  #toggle span {
    position: relative;
    display: block;
  }
  
  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px;
  }
  

  #toggle.on span {
    background-color: transparent;
  }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px);
  }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px);
  }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible;
  }
  
  #menu {
    position: absolute;
    color: #999;
    padding: 10px;
    margin: auto;
    text-align: start;
    border-radius: 4px;
    display: none;
    z-index: 999;
    left: 0;
    width: 100%;
    background:$primary-color;
    right: 0;
    margin: 0 auto;
    top: 84px;
    ul li a {
      font-size: 20px;
      color: white;
      line-height: 39px;
    }
  }
  #mobile {
	display: none;
}

#serch-d {
	display: none;
}
header .row .serach {
	text-align: start;
}
header .row .serach form input {
	display: inline-block;
	position: unset;
	top: 0;
	bottom: 0;
	padding: 7px 32px;
	right: 0;
	transition: all ease-in 0.5s;
	margin-left: 41px;
}
header .serach form:hover input {
	display: inline;
}
#mobile-s {
	margin-top: -24px;
}
header .row .last {
	@include flex-basis(auto); margin-top: 0;
  position: absolute; 
  right: 80px;
}


}

@media only screen and (max-width: 480px){
  header .row .logo img {
    width: 190px;
    height: auto;
  }
  #toggle {
    margin: 20px auto 10px;
  }
  #menu {
	top: 65px;
}

  
}

@media only screen and (max-width: 350px){
    header .row .last::after {
        right: 27px;
    }
    .toggle-btn {
        padding: 0;
    }
    header .row .last {
        right: 69px;
    }
}






