
#mas {
    padding-top: 60px;
    .postss {
        width: 100%;
        display: flex;margin-bottom: 17px;

        .a {
            width: 50%;
            h1 {
                margin-top: 0;margin-bottom: 0;
            }

        }

        .b {
            text-align: end;
            width: 44% !important;
            a {
                font-size: 15px;
                font-weight: 800;
                color: black;
                text-transform: uppercase;
                letter-spacing: 3px;
                &:hover{color: $primary-color;}
            }
        }
    }



    .main-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        .left-araea {
            width: 100%;
            max-width: 70%;
            .div-row {
                width: 100%;
                display: flex;
             
                .let {
                    width: 100%;

                    .comment {
                        width: 100%;
                        display: flex;
                        flex-direction: row;margin-bottom: 52px;

                        .feb {
                            width: 100%;
                            max-width: 19%;
                            span {
                                color: #858585;
                                font-size: 13px;
                                font-weight: 400;position: relative;
                                margin-top: 30px;
                                display: block;

                            }     
                            span::after {
                                position: absolute;
                                background:$primary-color;
                                content: "";
                                width: 20px;
                                height: 3px;
                                left: 0;
                                top: -8px;
                            }    




                        }




                    }


                }
                .mar {
                    width: 100%;
                    max-width: 75%;
                    h4 {
                        font-weight: 600;
                        font-size: 15px;
                    }
                    p {
                        font-weight: 300;
                        color: #494949;
                        font-size: 14px;margin-top: 38px;

                        margin-bottom: 30px;
                        line-height: 23px;
                    }
                    a {
                        margin-left: 16px;
                        position: relative; color: $primary-color; position: relative; text-transform: uppercase;
                        &:hover{color: $black-color;}
                    }
                    a::after {
                        position: absolute;
                        background: $primary-color;
                        content: "";
                        width: 20px;
                        height: 2px;
                        left: -26px;
                        top: 10px;
                       
                    
                    }
                    a:hover::after{background: $black-color;}
                }

            }

            .ret {
                width: 70%;

                figure{margin: 0;}
                img{width: auto;

                    margin-bottom: 63px;
                    
                    margin-top: 6px;
                    
                    object-fit: contain;
                    
                    height: 205px;
                    
                    margin-left: -7px;}
            }



        }


        .right-area {
            width: 30%;margin-top: -23px;
            overflow: hidden;
            .catgr{

                form {
                    margin-top: 38px;
                

                    select {
                        width: 100%;
                        padding: 10px 8px;
                        border: solid 1px gainsboro;
                        color: grey;
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
            }

            .cot {
                margin-top: 29px;

                h2 {
                    margin-bottom: -14px;
                    p {
                        margin-top: 26px;
                        font-size: 14px;
                        font-weight: 400;
                    }
               








                }


            }




            .min--dror {
                width: 100%;
                display: flex;
                flex-direction: row;
                .fiers, .second {
                    width: 25%;
                }
                select {
                    padding: 4px 10px;
                }                             


            }
        }



            .map{

                figure{margin: 0;
                    img {
                        width: 100%;
                        margin-top: 26px;
                    }}
            }

            .son {
                margin-top: 13px;

                h2 {
                    font-size: 25px;
                }
                h5 {
                    font-size: 15px;
                    margin-top: 15px;
                }
                
                    }
                }
                

            



                .lage{
                    label {
                        display: inline-flex;
                        input {
                            width: 60px;
                            margin-top: -11px;
                            
                        }
                    }
                    p {
                        font-weight: 300;margin-top: 0 !important;

                        margin-bottom: 11px !important;
                        color: #494949 !important;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
                #check {
                    padding: 17px 35px;

                    border: none;
                    
                    font-weight: 600;
                    
                    text-transform: uppercase;
                    
                    background: #f38820;
                    
                    color: #ffffff;
                    
                    font-size: 14px;
                    
                    border-radius: 15px;cursor: pointer;
                    margin-left: 32px;
                    
                    margin-top: 11px;
                    &:hover{background: $black-color;}
                }

        }



        
@media only screen and (max-width:991px){

    #mas {
      padding-top: 15px;
    }
  
    #mas .main-row{@include direction(column);}
    #mas .main-row .left-araea {
      width: 100%;
      max-width: 100%;
    }
    #mas h1 {
      font-size: 20px;
    }
    #mas .main-row .left-araea .ret img {
      width: 100%;
    }
    #mas .main-row .right-area {
      width: 100%;margin-top: 0;
    }
    #mas .main-row .right-area .cot h2 {
      margin-bottom: 0;
    }
    #mas .main-row .right-area .cot {
      margin-top: 0;
    }
    #mas .main-row .right-area .min--dror{@include direction(column);}
    #mas .main-row .right-area .min--dror .fiers, #mas .main-row .right-area .min--dror .second {
      width: 100%;margin-bottom: 12px;
    }
    #mas .main-row .right-area .min--dror select {
      padding: 10px 14px;
      width: 100%;
    }
    #mas .main-row .map figure img {
      width: 100%;margin-top: 5px;
      height: auto;
    }
    #mas .main-row .son h2 {
      font-size: 21px;
      margin-top: 0;
    }
    #mas .main-row .son h5 {
      font-size: 15px;
      margin-top: 2px;
      margin-bottom: 14px;
    }
    #mas .lage p {
      line-height: 13px;
    }
    #mas .lage label input {
      margin-top: -3px;
    }
    #mas #check {
      padding: 11px 19px;
      margin-top: 11px;
    }
    #mas .main-row .left-araea {
      margin: 0;
    }
  }
  
  
  @media only screen and (max-width:575px){
    #mas .main-row .left-araea .div-row .mar p {
      font-size: 13px;
      margin-top: 0;
      margin-bottom: 5px;
      line-height: 23px;
    }
    #mas .main-row .left-araea .div-row .mar h4 {
      font-size: 13px;
      line-height: 18px;
      margin-bottom: 5px;
    }
    #mas .main-row .left-araea .div-row .let .comment {
      margin-bottom: 16px;
    }
   
    #mas .main-row .right-area .catgr form {
      margin-top: 0;
    }
  
  }
  
  @media only screen and (max-width:480px){
    #mas .postss .b a {
      font-size: 13px;
      letter-spacing: 0;
    }
    #mas .b svg {
      padding-left: 6px;
    }
    #mas h1 {
      font-size: 17px;
    }
    #mas .postss {
      margin-bottom: 0;
    }
    #mas .main-row .left-araea .div-row{
  
      @include direction(column);
    }
    #mas .main-row .left-araea .div-row .mar {
      width: 100%;
      max-width: 100%;
      margin-bottom: -17px;
    }
    #mas .main-row .left-araea .ret {
      width: 100%;
    }
    #mas .main-row .left-araea .ret img {
      margin-bottom: 11px;
    }
  
  }