@import url(node_modules/@fortawesome/fontawesome-free/css/all.css);
/******Fonts***********************/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
/****coolor***********/
/************transtion***************/
/*********heading**********************/
h1 {
  font-size: 30px; }
  @media (max-width: 991) {
    h1 {
      font-size: 25px; } }
  @media (max-width: 480) {
    h1 {
      font-size: 23px; } }

h2 {
  font-size: 22px; }
  @media (max-width: 991) {
    h2 {
      font-size: 18px; } }
  @media (max-width: 480) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 18px; }
  @media (max-width: 991) {
    h3 {
      font-size: 16px; } }
  @media (max-width: 480) {
    h3 {
      font-size: 16px; } }

h4 {
  font-size: 14px; }
  @media (max-width: 991) {
    h4 {
      font-size: 13px; } }
  @media (max-width: 480) {
    h4 {
      font-size: 13px; } }

li {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

figure, figcaption {
  margin: 0; }

/************body****************/
body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto; }

.container {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

/**header**/
header {
  width: 100%;
  padding: 20px 0;
  display: block; }
  header .row {
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex; }
    header .row .logo {
      -webkit-flex-basis: 32%;
      -moz-flex-basis: 32%;
      -ms-flex-basis: 32%;
      flex-basis: 32%; }
      header .row .logo img {
        width: 289px;
        height: 61px; }
    header .row #mobile {
      display: none; }
    header .row #desktop {
      -webkit-flex-basis: 75%;
      -moz-flex-basis: 75%;
      -ms-flex-basis: 75%;
      flex-basis: 75%; }
      header .row #desktop ul {
        padding-right: 0;
        padding-left: 0;
        display: -webkit- flex;
        display: -moz- flex;
        display: -ms- flex;
        display: flex;
        -webkit-justify-content: space-evenly;
        -moz-justify-content-: space-evenly;
        -ms-justify-content: space-evenly;
        justify-content: space-evenly; }
        header .row #desktop ul li a {
          color: black;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 500;
          position: relative;
          transition: all ease-in 0.5s; }
          header .row #desktop ul li a:hover {
            color: #f38820;
            transition: all ease-out 0.3s; }
          header .row #desktop ul li a::after {
            position: absolute;
            background: #f38820;
            content: "";
            width: 0;
            height: 2px;
            bottom: -3px;
            right: 0;
            left: 0;
            margin: 0 auto; }
        header .row #desktop ul a:hover::after {
          width: 100% !important;
          transition: all ease-out 0.5s; }
    header .row .serach {
      -webkit-flex-basis: 10%;
      -moz-flex-basis: 10%;
      -ms-flex-basis: 10%;
      flex-basis: 10%;
      text-align: end; }
      header .row .serach form {
        position: relative; }
        header .row .serach form input {
          display: none;
          position: absolute;
          top: 13px;
          bottom: 0;
          padding: 7px 13px;
          right: 60px;
          transition: all ease-in 0.5s; }
        header .row .serach form button {
          border: none;
          background: #f38820;
          padding: 17px 18px;
          border-radius: 100%; }
          header .row .serach form button:hover {
            background: black !important;
            transition: all ease-in-out 0.4s;
            cursor: pointer; }
          header .row .serach form button svg {
            fill: white !important;
            color: white;
            width: 20px;
            height: 20px; }
    header .row .languages {
      -webkit-flex-basis: 10%;
      -moz-flex-basis: 10%;
      -ms-flex-basis: 10%;
      flex-basis: 10%; }
      header .row .languages .click {
        display: inline-grid; }
      header .row .languages .as {
        display: none; }
    header .row .last {
      -webkit-flex-basis: 10%;
      -moz-flex-basis: 10%;
      -ms-flex-basis: 10%;
      flex-basis: 10%;
      position: relative;
      margin-top: -12px;
      -webkit-align-self: center;
      -moz-align-self: center;
      -ms-align-self: center;
      align-self: center;
      text-align: end; }
      header .row .last::after {
        position: absolute;
        content: "EN";
        top: 3px;
        right: 42px;
        color: #f38820;
        font-size: 12px;
        font-weight: 600; }
      header .row .last .svg-inline--fa.fa-caret-left.fa-w-6 {
        color: #f38820;
        transform: translate(-5px, 0px); }
      header .row .last .toggle-btn {
        border: none;
        background: transparent; }
      header .row .last .click {
        position: absolute;
        padding: 0px 35px;
        right: -30px;
        top: 28px;
        z-index: 999;
        background: #f38820;
        border-radius: 5px; }
        header .row .last .click .as {
          font-size: 16px;
          font-weight: 500;
          text-align: center;
          color: white;
          margin-bottom: 1px;
          padding-top: 6px;
          padding-bottom: 10px; }
  header .serach form:hover input {
    display: block; }

@media only screen and (max-width: 1200px) {
  .container {
    max-width: 1160px !important; }
  header .row .last .click {
    right: -8px;
    top: 42px; }
  #actua .row-second .right-side .post figure {
    width: 46%; }
  .fiest h2 {
    font-size: 21px !important; }
  #actua .row-second .networking .left {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%; }
  #rec .row h1 {
    width: 86%;
    line-height: 48px;
    margin-left: 0; }
  #rec .row form {
    right: -28%;
    width: 113%; }
  #mas .main-row .left-araea {
    max-width: 66%;
    margin: 0 27px; } }

@media only screen and (max-width: 991px) {
  header .row #desktop {
    display: none; }
  #mobile {
    display: block !important; }
  #mobile {
    display: block !important;
    position: absolute;
    right: 27px;
    top: 22px;
    width: 100%; }
  #toggle {
    display: block;
    width: 28px;
    height: 30px;
    margin: 30px auto 10px;
    width: 36px;
    float: right; }
  #toggle span:after,
  #toggle span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px; }
  #toggle span:after {
    top: 9px; }
  #toggle span {
    position: relative;
    display: block; }
  #toggle span,
  #toggle span:after,
  #toggle span:before {
    width: 100%;
    height: 5px;
    background-color: #888;
    transition: all 0.3s;
    backface-visibility: hidden;
    border-radius: 2px; }
  #toggle.on span {
    background-color: transparent; }
  #toggle.on span:before {
    transform: rotate(45deg) translate(5px, 5px); }
  #toggle.on span:after {
    transform: rotate(-45deg) translate(7px, -8px); }
  #toggle.on + #menu {
    opacity: 1;
    visibility: visible; }
  #menu {
    position: absolute;
    color: #999;
    padding: 10px;
    margin: auto;
    text-align: start;
    border-radius: 4px;
    display: none;
    z-index: 999;
    left: 0;
    width: 100%;
    background: #f38820;
    right: 0;
    margin: 0 auto;
    top: 84px; }
    #menu ul li a {
      font-size: 20px;
      color: white;
      line-height: 39px; }
  #mobile {
    display: none; }
  #serch-d {
    display: none; }
  header .row .serach {
    text-align: start; }
  header .row .serach form input {
    display: inline-block;
    position: unset;
    top: 0;
    bottom: 0;
    padding: 7px 32px;
    right: 0;
    transition: all ease-in 0.5s;
    margin-left: 41px; }
  header .serach form:hover input {
    display: inline; }
  #mobile-s {
    margin-top: -24px; }
  header .row .last {
    -webkit-flex-basis: auto;
    -moz-flex-basis: auto;
    -ms-flex-basis: auto;
    flex-basis: auto;
    margin-top: 0;
    position: absolute;
    right: 80px; } }

@media only screen and (max-width: 480px) {
  header .row .logo img {
    width: 190px;
    height: auto; }
  #toggle {
    margin: 20px auto 10px; }
  #menu {
    top: 65px; } }

@media only screen and (max-width: 350px) {
  header .row .last::after {
    right: 27px; }
  .toggle-btn {
    padding: 0; }
  header .row .last {
    right: 69px; } }

/**baner**/
#baner {
  width: 100%;
  display: block; }
  #baner .row {
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex; }
    #baner .row #second {
      -webkit-flex-basis: 33.333%;
      -moz-flex-basis: 33.333%;
      -ms-flex-basis: 33.333%;
      flex-basis: 33.333%;
      transition: all ease-in 0.3s; }
      #baner .row #second:hover {
        flex-basis: 65% !important;
        transition: all ease-out 0.3s; }
      #baner .row #second figure {
        position: relative; }
        #baner .row #second figure img {
          width: 100%;
          height: 600px;
          object-fit: cover; }
        #baner .row #second figure figcaption {
          position: absolute;
          bottom: 30px;
          background: white;
          width: 50%;
          left: 30px;
          padding-left: 30px;
          padding-right: 19px;
          padding-top: 20px;
          padding-bottom: 25px; }
        #baner .row #second figure .fe {
          left: auto !important;
          right: 30px !important; }
        #baner .row #second figure h4 {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600; }
        #baner .row #second figure a h1 {
          font-size: 20px;
          font-weight: 600;
          color: #000000;
          line-height: 30px;
          position: relative;
          margin-top: -7px;
          margin-bottom: 38px; }
          #baner .row #second figure a h1::after {
            position: absolute;
            background: #f38820;
            content: "";
            width: 55px;
            height: 5px;
            bottom: -14px;
            left: 0; }
        #baner .row #second figure #baner-h {
          font-size: 14px !important;
          font-weight: 500 !important; }
          #baner .row #second figure #baner-h a {
            word-spacing: 4px;
            padding-left: 4px;
            color: #f38820; }
            #baner .row #second figure #baner-h a:hover {
              text-decoration: underline;
              text-decoration-thickness: 2px;
              transition: all e 0.5s; }
    #baner .row figure::before {
      position: absolute;
      background: #f38820;
      width: 69px;
      height: 69px;
      top: 32px;
      left: 28px;
      z-index: 99;
      border-radius: 100%;
      line-height: 65px;
      text-align: center;
      color: white;
      font-weight: 600;
      font-size: 36px; }
    #baner .row #a::before {
      content: "01"; }
    #baner .row #b::before {
      content: "02"; }
    #baner .row #c::before {
      content: "03"; }
  #baner #second:hover figcaption {
    width: 70% !important; }
  #baner #second:hover figcaption h1 {
    font-size: 30px  !important;
    line-height: 36px  !important;
    transition: all ease-in-out 0.4s; }

@media only screen and (max-width: 991px) {
  #baner .row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #baner .row #second {
    -webkit-flex-basis: 100% !important;
    -moz-flex-basis: 100% !important;
    -ms-flex-basis: 100% !important;
    flex-basis: 100% !important; }
  #baner .row #second:hover {
    flex-basis: auto !important;
    transition: all ease-out 0.3s; }
  #baner #second:hover figcaption {
    width: 70% !important; }
  #baner #second:hover figcaption h1 {
    font-size: 20px !important;
    line-height: 25px !important;
    transition: all ease-in-out 0.4s; }
  #baner .row #second figure a h1 {
    line-height: 25px; }
  #baner .row #second figure .fe {
    left: 30px !important;
    right: auto !important; }
  #baner .row #second figure figcaption {
    width: 70%; } }

@media only screen and (max-width: 480px) {
  #baner .row #second figure img {
    width: 100%;
    height: 470px;
    object-fit: cover; } }

/**extra**/
.soicial.media {
  margin-top: 13px;
  text-align: center; }
  .soicial.media a {
    margin: 0 2px;
    font-size: 20px; }
    .soicial.media a svg {
      color: #000000; }
      .soicial.media a svg:hover {
        color: #f38820;
        transition: all ease-in-out0 0.3s; }

.added {
  text-align: center; }
  .added h3 {
    background: #e2e2e2;
    width: 65%;
    margin: 0 auto;
    padding: 33px 0;
    margin-top: 12px;
    color: #848484; }
    .added h3 svg {
      padding-left: 10px; }

@media only screen and (max-width: 480px) {
  .added h3 {
    width: 85%; } }

/**acuta**/
#actua {
  width: 100%;
  margin-top: 46px;
  overflow: hidden; }
  #actua .row {
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex;
    border-bottom: solid 1px #848484; }
    #actua .row .first {
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      -ms-flex-basis: 50%;
      flex-basis: 50%;
      text-align: start; }
      #actua .row .first h1 {
        font-weight: bold;
        margin-bottom: 9px; }
    #actua .row .second {
      -webkit-flex-basis: 50%;
      -moz-flex-basis: 50%;
      -ms-flex-basis: 50%;
      flex-basis: 50%;
      text-align: end; }
      #actua .row .second h4 a {
        font-size: 15px;
        font-weight: bold;
        color: #404040;
        text-transform: uppercase;
        letter-spacing: 2px;
        word-spacing: 3px; }
        #actua .row .second h4 a:hover {
          text-decoration: underline; }
  #actua .row-second {
    margin-top: 48px;
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex; }
    #actua .row-second .first-side {
      -webkit-flex-basis: 66%;
      -moz-flex-basis: 66%;
      -ms-flex-basis: 66%;
      flex-basis: 66%;
      margin-right: 4%; }
      #actua .row-second .first-side figure img {
        width: 100%;
        height: 400px; }
      #actua .row-second .first-side span {
        margin-top: 10px;
        display: block;
        color: #858585;
        font-weight: 300;
        font-size: 16px;
        margin-left: 22px;
        position: relative; }
        #actua .row-second .first-side span::after {
          position: absolute;
          background: #858585;
          content: "";
          width: 20px;
          height: 2px;
          left: -25px;
          top: 11px;
          bottom: 0;
          margin: 0 auto; }
      #actua .row-second .first-side h2 {
        font-weight: 600;
        margin-bottom: -3px;
        margin-top: 13px; }
    #actua .row-second p {
      font-weight: 300;
      font-size: 15px;
      color: #494949;
      line-height: 25px; }
    #actua .row-second #jai {
      font-size: 15px;
      color: #f38820;
      position: relative;
      margin-left: 25px;
      font-weight: 400;
      text-transform: uppercase; }
      #actua .row-second #jai:hover {
        color: #000000;
        transition: all ease-in-out 0.3s; }
      #actua .row-second #jai::after {
        position: absolute;
        background: #f38820;
        content: "";
        width: 20px;
        height: 2px;
        left: -25px;
        top: 10px;
        bottom: 0;
        margin: 0 auto; }
    #actua .row-second #jai:hover::after {
      background: black !important;
      transition: all ease-in-out 0.3s; }
    #actua .row-second .networking {
      margin-top: 27px;
      border-top: solid 1px #858585;
      padding-top: 17px;
      display: -webkit- flex;
      display: -moz- flex;
      display: -ms- flex;
      display: flex; }
      #actua .row-second .networking .left {
        -webkit-flex-basis: 70%;
        -moz-flex-basis: 70%;
        -ms-flex-basis: 70%;
        flex-basis: 70%;
        display: -webkit- flex;
        display: -moz- flex;
        display: -ms- flex;
        display: flex; }
        #actua .row-second .networking .left a {
          display: -webkit- flex;
          display: -moz- flex;
          display: -ms- flex;
          display: flex;
          -webkit-flex-basis: 35%;
          -moz-flex-basis: 35%;
          -ms-flex-basis: 35%;
          flex-basis: 35%; }
          #actua .row-second .networking .left a span {
            margin-top: 0;
            font-size: 13px;
            margin-left: 0;
            width: 55%;
            text-align: center;
            position: relative; }
            #actua .row-second .networking .left a span::after {
              display: none; }
        #actua .row-second .networking .left .asd {
          text-align: start !important;
          padding-left: 6px;
          width: 12% !important; }
        #actua .row-second .networking .left a:last-child span {
          text-align: start !important;
          padding-left: 8px;
          transform: translate(2px, -2px); }
        #actua .row-second .networking .left svg {
          color: #a0a0a0; }
        #actua .row-second .networking .left a:hover svg {
          color: black !important; }
        #actua .row-second .networking .left a:hover span {
          color: black !important; }
      #actua .row-second .networking .right {
        -webkit-flex-basis: 30%;
        -moz-flex-basis: 30%;
        -ms-flex-basis: 30%;
        flex-basis: 30%;
        text-align: end; }
        #actua .row-second .networking .right a {
          margin: 0 5px; }
          #actua .row-second .networking .right a svg {
            color: #a0a0a0; }
          #actua .row-second .networking .right a:hover svg {
            color: black; }
    #actua .row-second .right-side {
      -webkit-flex-basis: 30%;
      -moz-flex-basis: 30%;
      -ms-flex-basis: 30%;
      flex-basis: 30%; }
      #actua .row-second .right-side .example {
        display: -webkit- flex;
        display: -moz- flex;
        display: -ms- flex;
        display: flex;
        border: solid 1px #a0a0a0;
        padding: 11px 6px; }
        #actua .row-second .right-side .example input {
          background: transparent;
          width: 70%;
          border: none; }
        #actua .row-second .right-side .example button {
          background: transparent;
          border: none;
          width: 24%; }
          #actua .row-second .right-side .example button svg {
            font-size: 18px;
            font-weight: 300; }
      #actua .row-second .right-side .recent {
        display: -webkit- flex;
        display: -moz- flex;
        display: -ms- flex;
        display: flex; }
        #actua .row-second .right-side .recent .fiest {
          width: 50%; }
          #actua .row-second .right-side .recent .fiest h6 {
            text-align: end;
            font-size: 15px;
            font-weight: bold;
            color: #404040;
            text-transform: uppercase;
            letter-spacing: 2px;
            word-spacing: 3px; }
            #actua .row-second .right-side .recent .fiest h6:hover {
              text-decoration: underline;
              cursor: pointer; }
            #actua .row-second .right-side .recent .fiest h6 img {
              margin-top: -9px;
              transform: translatey(-3px); }
          #actua .row-second .right-side .recent .fiest h2 {
            margin-top: 30px; }
      #actua .row-second .right-side .post {
        display: -webkit- flex;
        display: -moz- flex;
        display: -ms- flex;
        display: flex; }
        #actua .row-second .right-side .post figure {
          width: 30%; }
          #actua .row-second .right-side .post figure img {
            width: 70px;
            height: 70px; }
        #actua .row-second .right-side .post samp {
          font-size: 13px;
          color: #858585;
          font-weight: 500;
          position: relative;
          top: 14px;
          word-spacing: -2px;
          margin-top: -4px;
          display: block; }
          #actua .row-second .right-side .post samp::after {
            position: absolute;
            background: #f38820;
            content: "";
            width: 21px;
            height: 2px;
            top: -8px;
            left: -1px; }
        #actua .row-second .right-side .post a h5 {
          margin-top: 25px;
          font-weight: 600;
          color: #000000; }

@media only screen and (max-width: 991px) {
  #actua .row-second .right-side .post figure {
    width: 44%; } }

@media only screen and (max-width: 991px) {
  #actua .row .first, #actua .row .second {
    text-align: center; }
  #actua .row .first h1 {
    margin-bottom: 0; }
  .second h4 {
    margin-top: 36px; }
  #actua {
    margin-top: 0; }
  #actua .row-second {
    margin-top: 25px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #actua .row-second .first-side, #actua .row-second .right-side {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%;
    margin-right: 0; }
  #actua .row-second .networking {
    margin-top: 16px;
    padding-top: 19px; }
  #actua .row-second .first-side, #actua .row-second .right-side {
    margin-top: 33px; }
  #actua .row-second .first-side figure img {
    height: auto; }
  #actua .row-second .right-side .post figure {
    width: 10%; } }

@media only screen and (max-width: 767px) {
  #actua .row-second .right-side .post {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center; }
  #actua .row-second .right-side .post figure {
    width: 100%; }
  #actua .row-second .right-side .post samp::after {
    left: 0;
    right: 0;
    margin: 0 auto; } }

@media only screen and (max-width: 767px) {
  #actua .row-second .networking {
    margin-top: 13px;
    padding-top: 14px;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #actua .row-second .networking .left {
    -webkit-flex-basis: 100%;
    -moz-flex-basis: 100%;
    -ms-flex-basis: 100%;
    flex-basis: 100%; }
  #actua .row-second .networking .left a span {
    font-size: 12px;
    width: 79%; }
  #actua .row-second .networking .right {
    flex-basis: 100%;
    text-align: start !important;
    margin-top: 24px; }
  #actua .row-second .right-side .recent .fiest h6 {
    letter-spacing: 0;
    word-spacing: 0;
    margin-top: 28px; } }

@media only screen and (max-width: 480px) {
  #actua h1 {
    font-size: 21px;
    margin-top: 35px;
    text-align: start; }
  #actua .row .first, #actua .row .second {
    text-align: end; }
  #actua .row .second h4 a {
    font-size: 12px;
    letter-spacing: 0;
    word-spacing: 0; }
  h2 {
    font-size: 18px;
    line-height: 19px; }
  #actua .row-second .first-side {
    margin-top: 0; } }

@media only screen and (max-width: 480px) and (max-width: 350px) {
  #actua .row-second .networking .left a span {
    font-size: 11px;
    width: 87%; }
  #actua .row-second .networking .left svg {
    text-align: center;
    width: 57%; }
  #actua .row-second .networking .left a {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; } }

/**invert**/
#invert {
  padding-top: 16px;
  overflow: hidden; }
  #invert .row {
    width: 100%;
    display: flex;
    border-bottom: solid 1px;
    flex-direction: row; }
    #invert .row .text {
      max-width: 50%;
      width: 100%; }
      #invert .row .text h1 {
        font-weight: 700;
        word-spacing: 4px; }
    #invert .row .text-2 {
      width: 50%;
      max-width: 100%;
      text-align: end; }
      #invert .row .text-2 a {
        font-weight: 700;
        color: #404040;
        transition: all ese out 0.3s;
        font-size: 16px;
        letter-spacing: 3px;
        word-spacing: 2px; }
        #invert .row .text-2 a:hover {
          color: #f38820;
          transition: all ese in 0.3s; }
  #invert .como {
    margin-top: 53px;
    width: 100%;
    display: flex;
    flex-direction: row; }
    #invert .como .left-ara {
      max-width: 45%;
      width: 100%; }
      #invert .como .left-ara ol {
        padding-left: 0; }
        #invert .como .left-ara ol li {
          list-style: decimal-leading-zero;
          position: relative;
          margin-left: 60px;
          z-index: 999;
          line-height: 51px;
          width: 6%;
          font-weight: 600;
          font-size: 24px;
          float: left; }
        #invert .como .left-ara ol li::after {
          position: absolute;
          background: #f5f5f5;
          content: "";
          width: 55px;
          height: 55px;
          left: -49px;
          border-radius: 100%;
          z-index: -1;
          top: -1px;
          left: 0; }
      #invert .como .left-ara h4 {
        width: 90%;
        position: relative;
        top: -5px;
        font-weight: 600;
        margin-top: 2px;
        font-size: 16px; }
      #invert .como .left-ara span {
        margin-left: 88px;
        margin-top: -17px;
        display: block;
        color: #858585;
        font-size: 12px;
        font-weight: 300; }
        #invert .como .left-ara span a {
          color: black !important; }
          #invert .como .left-ara span a:hover {
            color: #f38820 !important; }
      #invert .como .left-ara .ore {
        width: 100%;
        padding: 16px 0;
        margin-bottom: 18px;
        transition: all ese in 0.3s; }
      #invert .como .left-ara .ore:hover {
        background: #efefef;
        transition: all ese out 0.3s; }
      #invert .como .left-ara .ore:hover li::after {
        background: #f38820 !important;
        transition: all ese out 0.3s; }
      #invert .como .left-ara .ore:hover li {
        color: white;
        transition: all ese out 0.3s; }
    #invert .como .rigt-area {
      max-width: 62%;
      width: 100%; }
      #invert .como .rigt-area #a {
        margin: 0;
        position: relative; }
        #invert .como .rigt-area #a img {
          width: 100%;
          height: 575px;
          position: relative;
          margin-top: 16px; }
        #invert .como .rigt-area #a .fe {
          position: absolute;
          background: white;
          width: 65%;
          z-index: 9;
          left: 41px;
          padding: 20px 14px;
          bottom: 42px; }
        #invert .como .rigt-area #a h3 {
          font-weight: 600;
          font-size: 19px;
          margin-top: 5px;
          line-height: 29px; }
        #invert .como .rigt-area #a h6 {
          font-size: 16px;
          font-weight: 300;
          color: #494949;
          line-height: 26px;
          margin-top: 0;
          margin-bottom: 20px; }
        #invert .como .rigt-area #a a {
          font-size: 16px;
          font-weight: 400;
          position: relative;
          margin-left: 30px;
          color: #f38820; }
          #invert .como .rigt-area #a a:hover {
            color: #000000; }
        #invert .como .rigt-area #a a::after {
          position: absolute;
          background: #f38820;
          content: "";
          width: 20px;
          height: 2px;
          left: -26px;
          bottom: 10px;
          right: 0; }
        #invert .como .rigt-area #a a:hover::after {
          background: #000000 !important; }
      #invert .como .rigt-area #a::after {
        position: absolute;
        background: #000000;
        content: "";
        width: 100%;
        height: 34%;
        bottom: -9px; }

@media only screen and (max-width: 991px) {
  #invert .como .left-ara h4 {
    font-size: 15px; } }

@media only screen and (max-width: 767px) {
  #invert .como {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #invert .como .left-ara {
    max-width: 100%;
    width: 100%; }
  #invert .como .rigt-area {
    max-width: 100%;
    width: 100%; }
  h1 {
    font-size: 21px; }
  #invert .como {
    margin-top: 3px; }
  #invert .como .rigt-area #a img {
    margin-top: 0; }
  #invert .como .rigt-area #a img {
    height: 423px;
    object-fit: cover; } }

@media only screen and (max-width: 480px) {
  #invert .row .text {
    max-width: 62%;
    width: 100%; }
  h1 {
    font-size: 16px; }
  #invert .row .text-2 a {
    font-size: 14px;
    letter-spacing: 0;
    word-spacing: 0; }
  #invert .como .left-ara .ore {
    padding: 13px 0;
    margin-bottom: 0; }
  #invert .como .left-ara ol li {
    margin-left: 43px;
    z-index: 999; }
  #invert .como .left-ara h4 {
    font-size: 13px; }
  #invert .como .left-ara span {
    margin-left: 58px; }
  #invert .como .rigt-area #a .fe {
    position: unset;
    background: white;
    width: 100%;
    z-index: 9;
    left: auto;
    padding: 0;
    bottom: auto; }
  #invert .como .rigt-area #a::after {
    display: none; }
  #invert .como .rigt-area #a h3 {
    font-size: 17px;
    line-height: 23px;
    margin-bottom: 10px; }
  #invert .como .rigt-area #a img {
    height: auto;
    object-fit: cover; } }

/**rec**/
#rec {
  padding: 27px 0;
  overflow: hidden; }
  #rec .row {
    text-align: center;
    position: relative;
    border-bottom: solid 1px;
    border-top: solid 1px;
    padding-bottom: 27px; }
    #rec .row h1 {
      font-weight: 300;
      width: 53%;
      position: relative;
      line-height: 48px;
      margin-left: auto;
      margin-right: auto; }
    #rec .row form {
      position: absolute;
      right: -26%;
      overflow: hidden;
      bottom: 60px;
      border-top: none;
      width: 100%; }
      #rec .row form input {
        border-left: none;
        border-right: none;
        border-bottom: solid 1px gray;
        padding-bottom: 10px;
        border-top: none;
        font-size: 17px;
        position: relative;
        left: 31px;
        font-weight: 600; }
      #rec .row form #sss {
        position: relative;
        left: 53px;
        background: #f38820;
        color: white;
        line-height: 29px;
        padding: 7px 33px;
        transition: all ese in 0.3s;
        border-radius: 6px;
        border: none;
        font-size: 15px;
        font-weight: 600;
        text-transform: uppercase;
        letter-spacing: 2px; }
      #rec .row form #sss:hover {
        background: #000000 !important;
        transition: all ese out 0.3s;
        cursor: pointer; }
  #rec .three-box {
    padding-top: 21px;
    width: 100%;
    overflow: hidden; }
    #rec .three-box .text-cox h1 {
      margin-bottom: 13px; }
    #rec .three-box .three-boxes {
      width: 100%;
      overflow: hidden;
      display: flex; }
      #rec .three-box .three-boxes .first-boxes, #rec .three-box .three-boxes .second-boxes {
        max-width: 33.333%;
        width: 100%; }
      #rec .three-box .three-boxes .first-boxes iframe {
        width: 100%;
        height: 310px; }
      #rec .three-box .three-boxes .second-boxes {
        background: #e2e2e2;
        height: 310px;
        margin-left: 19px;
        text-align: center;
        line-height: 15; }
        #rec .three-box .three-boxes .second-boxes h3 {
          font-size: 18px;
          color: #a9a9a9;
          font-weight: 600;
          text-transform: uppercase; }

@media only screen and (max-width: 991px) {
  #rec .row h1 {
    width: 100%; }
  #rec .row form {
    position: unset;
    right: auto;
    overflow: hidden;
    bottom: auto;
    border-top: none;
    width: 100%; } }

@media only screen and (max-width: 767px) {
  #rec h1 {
    font-size: 17px; }
  #rec .three-box .three-boxes {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #rec .three-box .three-boxes .first-boxes, #rec .three-box .three-boxes .second-boxes {
    max-width: 100%;
    width: 100%;
    margin-bottom: 10px; }
  #rec .three-box .three-boxes .second-boxes {
    margin-left: 0; } }

@media only screen and (max-width: 480px) {
  #rec .row form {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex; }
  #rec .row form #sss {
    position: unset;
    margin-top: 24px; }
  #rec .row form input {
    position: unset; }
  #rec .row h1 {
    width: 100%;
    line-height: 23px; } }

/**mas**/
#mas {
  padding-top: 60px; }
  #mas .postss {
    width: 100%;
    display: flex;
    margin-bottom: 17px; }
    #mas .postss .a {
      width: 50%; }
      #mas .postss .a h1 {
        margin-top: 0;
        margin-bottom: 0; }
    #mas .postss .b {
      text-align: end;
      width: 44% !important; }
      #mas .postss .b a {
        font-size: 15px;
        font-weight: 800;
        color: black;
        text-transform: uppercase;
        letter-spacing: 3px; }
        #mas .postss .b a:hover {
          color: #f38820; }
  #mas .main-row {
    width: 100%;
    display: flex;
    flex-direction: row; }
    #mas .main-row .left-araea {
      width: 100%;
      max-width: 70%; }
      #mas .main-row .left-araea .div-row {
        width: 100%;
        display: flex; }
        #mas .main-row .left-araea .div-row .let {
          width: 100%; }
          #mas .main-row .left-araea .div-row .let .comment {
            width: 100%;
            display: flex;
            flex-direction: row;
            margin-bottom: 52px; }
            #mas .main-row .left-araea .div-row .let .comment .feb {
              width: 100%;
              max-width: 19%; }
              #mas .main-row .left-araea .div-row .let .comment .feb span {
                color: #858585;
                font-size: 13px;
                font-weight: 400;
                position: relative;
                margin-top: 30px;
                display: block; }
              #mas .main-row .left-araea .div-row .let .comment .feb span::after {
                position: absolute;
                background: #f38820;
                content: "";
                width: 20px;
                height: 3px;
                left: 0;
                top: -8px; }
        #mas .main-row .left-araea .div-row .mar {
          width: 100%;
          max-width: 75%; }
          #mas .main-row .left-araea .div-row .mar h4 {
            font-weight: 600;
            font-size: 15px; }
          #mas .main-row .left-araea .div-row .mar p {
            font-weight: 300;
            color: #494949;
            font-size: 14px;
            margin-top: 38px;
            margin-bottom: 30px;
            line-height: 23px; }
          #mas .main-row .left-araea .div-row .mar a {
            margin-left: 16px;
            position: relative;
            color: #f38820;
            position: relative;
            text-transform: uppercase; }
            #mas .main-row .left-araea .div-row .mar a:hover {
              color: #000000; }
          #mas .main-row .left-araea .div-row .mar a::after {
            position: absolute;
            background: #f38820;
            content: "";
            width: 20px;
            height: 2px;
            left: -26px;
            top: 10px; }
          #mas .main-row .left-araea .div-row .mar a:hover::after {
            background: #000000; }
      #mas .main-row .left-araea .ret {
        width: 70%; }
        #mas .main-row .left-araea .ret figure {
          margin: 0; }
        #mas .main-row .left-araea .ret img {
          width: auto;
          margin-bottom: 63px;
          margin-top: 6px;
          object-fit: contain;
          height: 205px;
          margin-left: -7px; }
    #mas .main-row .right-area {
      width: 30%;
      margin-top: -23px;
      overflow: hidden; }
      #mas .main-row .right-area .catgr form {
        margin-top: 38px; }
        #mas .main-row .right-area .catgr form select {
          width: 100%;
          padding: 10px 8px;
          border: solid 1px gainsboro;
          color: grey;
          font-size: 15px;
          font-weight: 400; }
      #mas .main-row .right-area .cot {
        margin-top: 29px; }
        #mas .main-row .right-area .cot h2 {
          margin-bottom: -14px; }
          #mas .main-row .right-area .cot h2 p {
            margin-top: 26px;
            font-size: 14px;
            font-weight: 400; }
      #mas .main-row .right-area .min--dror {
        width: 100%;
        display: flex;
        flex-direction: row; }
        #mas .main-row .right-area .min--dror .fiers, #mas .main-row .right-area .min--dror .second {
          width: 25%; }
        #mas .main-row .right-area .min--dror select {
          padding: 4px 10px; }
    #mas .main-row .map figure {
      margin: 0; }
      #mas .main-row .map figure img {
        width: 100%;
        margin-top: 26px; }
    #mas .main-row .son {
      margin-top: 13px; }
      #mas .main-row .son h2 {
        font-size: 25px; }
      #mas .main-row .son h5 {
        font-size: 15px;
        margin-top: 15px; }
  #mas .lage label {
    display: inline-flex; }
    #mas .lage label input {
      width: 60px;
      margin-top: -11px; }
  #mas .lage p {
    font-weight: 300;
    margin-top: 0 !important;
    margin-bottom: 11px !important;
    color: #494949 !important;
    font-size: 14px;
    line-height: 24px; }
  #mas #check {
    padding: 17px 35px;
    border: none;
    font-weight: 600;
    text-transform: uppercase;
    background: #f38820;
    color: #ffffff;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
    margin-left: 32px;
    margin-top: 11px; }
    #mas #check:hover {
      background: #000000; }

@media only screen and (max-width: 991px) {
  #mas {
    padding-top: 15px; }
  #mas .main-row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #mas .main-row .left-araea {
    width: 100%;
    max-width: 100%; }
  #mas h1 {
    font-size: 20px; }
  #mas .main-row .left-araea .ret img {
    width: 100%; }
  #mas .main-row .right-area {
    width: 100%;
    margin-top: 0; }
  #mas .main-row .right-area .cot h2 {
    margin-bottom: 0; }
  #mas .main-row .right-area .cot {
    margin-top: 0; }
  #mas .main-row .right-area .min--dror {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #mas .main-row .right-area .min--dror .fiers, #mas .main-row .right-area .min--dror .second {
    width: 100%;
    margin-bottom: 12px; }
  #mas .main-row .right-area .min--dror select {
    padding: 10px 14px;
    width: 100%; }
  #mas .main-row .map figure img {
    width: 100%;
    margin-top: 5px;
    height: auto; }
  #mas .main-row .son h2 {
    font-size: 21px;
    margin-top: 0; }
  #mas .main-row .son h5 {
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 14px; }
  #mas .lage p {
    line-height: 13px; }
  #mas .lage label input {
    margin-top: -3px; }
  #mas #check {
    padding: 11px 19px;
    margin-top: 11px; }
  #mas .main-row .left-araea {
    margin: 0; } }

@media only screen and (max-width: 575px) {
  #mas .main-row .left-araea .div-row .mar p {
    font-size: 13px;
    margin-top: 0;
    margin-bottom: 5px;
    line-height: 23px; }
  #mas .main-row .left-araea .div-row .mar h4 {
    font-size: 13px;
    line-height: 18px;
    margin-bottom: 5px; }
  #mas .main-row .left-araea .div-row .let .comment {
    margin-bottom: 16px; }
  #mas .main-row .right-area .catgr form {
    margin-top: 0; } }

@media only screen and (max-width: 480px) {
  #mas .postss .b a {
    font-size: 13px;
    letter-spacing: 0; }
  #mas .b svg {
    padding-left: 6px; }
  #mas h1 {
    font-size: 17px; }
  #mas .postss {
    margin-bottom: 0; }
  #mas .main-row .left-araea .div-row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  #mas .main-row .left-araea .div-row .mar {
    width: 100%;
    max-width: 100%;
    margin-bottom: -17px; }
  #mas .main-row .left-araea .ret {
    width: 100%; }
  #mas .main-row .left-araea .ret img {
    margin-bottom: 11px; } }

/**footer**/
footer {
  background: #e2e2e2;
  margin-top: 79px;
  padding-top: 35px;
  width: 100%;
  overflow: hidden; }
  footer .row {
    display: flex;
    width: 100%; }
    footer .row .boder, footer .row .adrees, footer .row .menu {
      width: 100%;
      max-width: 33.333%;
      overflow: hidden; }
    footer .row .boder h4 {
      font-size: 18px;
      font-weight: 600;
      color: #7f7f7f; }
    footer .row .boder h3 {
      font-size: 20px;
      font-weight: 400;
      color: #7f7f7f; }
    footer .row .boder ul {
      padding-left: 0; }
      footer .row .boder ul li {
        display: inline; }
        footer .row .boder ul li a {
          border: solid 1px #7f7f7f;
          color: #7f7f7f;
          padding: 7px 24px;
          margin: 5px 2px;
          display: inline-block; }
          footer .row .boder ul li a:hover {
            color: #f38820;
            border: solid 1px #f38820; }
    footer .row .adrees {
      margin-left: 100px; }
      footer .row .adrees h4 {
        font-size: 16px;
        font-weight: 600;
        color: #7f7f7f;
        margin-bottom: -14px; }
      footer .row .adrees p {
        width: 58%;
        margin-bottom: 41px; }
        footer .row .adrees p a {
          font-size: 17px;
          font-weight: 500;
          color: #000000;
          line-height: 17px; }
    footer .row .menu {
      display: flex; }
      footer .row .menu ul {
        padding-right: 0; }
        footer .row .menu ul li a {
          color: #7f7f7f;
          font-weight: 600;
          font-size: 14px;
          line-height: 48px; }
          footer .row .menu ul li a:hover {
            color: #000000; }
      footer .row .menu .last {
        margin-left: 39px; }
  footer .colpy0right {
    width: 100%;
    text-align: center;
    padding: 13px 1px; }
    footer .colpy0right p {
      color: #7e7e7e;
      font-size: 14px;
      font-weight: 300; }

#invert .como .rigt-area #a::after {
  position: absolute;
  background: #000000;
  content: "";
  width: 100%;
  height: 34%;
  bottom: -9px;
  right: 0; }

#mas .lage label input {
  width: 60px;
  margin-top: 8px; }

@media only screen and (max-width: 1382px) {
  .container {
    max-width: 1160px !important; } }

@media only screen and (max-width: 991px) {
  footer {
    margin-top: 33px;
    padding-top: 10px; }
  footer .row {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column; }
  footer .row .boder, footer .row .adrees, footer .row .menu, footer .row .adrees {
    max-width: 100%;
    margin-left: 0; }
  footer .row .menu .last {
    margin-left: 0; }
  footer .row .adrees h4 {
    font-size: 14px;
    margin-top: 4px;
    margin-bottom: -16px; }
  footer .row .adrees p {
    width: 100%;
    margin-bottom: 5px;
    font-size: 15px; }
  footer .row .adrees p a {
    font-size: 14px;
    line-height: 17px; }
  footer .row .menu ul {
    padding-right: 41px;
    padding-left: 0; }
  footer .row .menu ul li a {
    font-size: 13px;
    line-height: 27px; }
  footer .colpy0right {
    width: 100%;
    text-align: center;
    padding: 0; }
  footer .row .boder ul li a {
    padding: 2px 10px;
    margin: 5px 2px; } }
