@import "node_modules/@fortawesome/fontawesome-free/css/all.css";



/******Fonts***********************/
@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap');
/****coolor***********/
$primary-color:#f38820;
$black-color:#000000;
$white-color:#ffffff;
$grey-color:#e2e2e2;
$extra-gray-color:#848484;
$pargraph-color:#494949;


/************transtion***************/
$transition-in:all ese in 0.3s;
$transition-out:all ese out 0.3s;
$margain-auto:0 auto;




/*********heading**********************/
h1{font-size: 30px;@media(max-width:991){font-size: 25px;} @media(max-width:480){font-size: 23px;}}
h2{font-size: 22px; @media(max-width:991){font-size: 18px;} @media(max-width:480){font-size: 20px;}}
h3{font-size: 18px;@media(max-width:991){font-size: 16px;} @media(max-width:480){font-size: 16px;}}
h4{font-size: 14px;@media(max-width:991){font-size: 13px;} @media(max-width:480){font-size: 13px;}}
li{list-style: none;}
a{text-decoration: none;
&:hover{text-decoration: none;}
}
figure, figcaption {margin: 0;}

    @mixin display($flex) {
    display: -webkit-$flex;
    display: -moz-$flex;
    display: -ms-$flex;
    display: $flex;
    }
    @mixin direction($flex) {
    -webkit-flex-direction: $flex;
    -moz-flex-direction: $flex;
    -ms-flex-direction: $flex;
    flex-direction: $flex;
    }
    @mixin flex-wrap($flex) {
    -webkit-flex-wrap: $flex;
    -moz-flex-wrap: $flex;
    -ms-flex-wrap: $flex;
    flex-wrap: $flex;
    }
    @mixin align-items($flex) {
    -webkit-align-items: $flex;
    -moz-align-items: $flex;
    -ms-align-items: $flex;
    align-items: $flex;
    }
    @mixin flex-basis($flex) {
    -webkit-flex-basis: $flex;
    -moz-flex-basis: $flex;
    -ms-flex-basis: $flex;
    flex-basis: $flex;
    }
    @mixin align-self ($flex) {
        -webkit-align-self: $flex;
        -moz-align-self: $flex;
        -ms-align-self: $flex;
        align-self: $flex;
        }
    @mixin justify-content($flex) {
    -webkit-justify-content: $flex;
    -moz-justify-content-: $flex;
    -ms-justify-content: $flex;
    justify-content: $flex;
    }
    @mixin after($after) {
        position: absolute;
        content: "";
    }
   


/************body****************/
body{font-family: 'Poppins', sans-serif; margin:0 auto;}
.container {	max-width: 1270px;	margin-left: auto;	margin-right: auto;	box-sizing: border-box;	width: 100%; padding-left: 15px; padding-right: 15px;}

@import "header";
@import "baner";
@import "extra";
@import "acuta";
@import "invert";
@import "rec";




#mas {
    padding-top: 60px;
    .postss {
        width: 100%;
        display: flex;margin-bottom: 17px;

        .a {
            width: 50%;
            h1 {
                margin-top: 0;margin-bottom: 0;
            }

        }

        .b {
            text-align: end;
            width: 44% !important;
            a {
                font-size: 15px;
                font-weight: 600;
                color: black;
                text-transform: uppercase;
                letter-spacing: 5px;
                &:hover{color: $primary-color;}
            }
        }
    }



    .main-row {
        width: 100%;
        display: flex;
        flex-direction: row;
        .left-araea {
            width: 100%;
            max-width: 70%;
            .div-row {
                width: 100%;
                display: flex;
             
                .let {
                    width: 100%;

                    .comment {
                        width: 100%;
                        display: flex;
                        flex-direction: row;margin-bottom: 52px;

                        .feb {
                            width: 100%;
                            max-width: 19%;
                            span {
                                color: #858585;
                                font-size: 13px;
                                font-weight: 400;position: relative;
                                margin-top: 30px;
                                display: block;

                            }     
                            span::after {
                                position: absolute;
                                background:$primary-color;
                                content: "";
                                width: 20px;
                                height: 3px;
                                left: 0;
                                top: -8px;
                            }    




                        }




                    }


                }
                .mar {
                    width: 100%;
                    max-width: 75%;
                    h4 {
                        font-weight: 600;
                        font-size: 15px;
                    }
                    p {
                        font-weight: 300;
                        color: #494949;
                        font-size: 14px;margin-top: 38px;

                        margin-bottom: 30px;
                        line-height: 23px;
                    }
                    a {
                        margin-left: 16px;
                        position: relative; color: $primary-color; position: relative; text-transform: uppercase;
                        &:hover{color: $black-color;}
                    }
                    a::after {
                        position: absolute;
                        background: $primary-color;
                        content: "";
                        width: 20px;
                        height: 2px;
                        left: -26px;
                        top: 10px;
                       
                    
                    }
                    a:hover::after{background: $black-color;}
                }

            }

            .ret {
                width: 70%;

                figure{margin: 0;}
                img{width: auto;

                    margin-bottom: 63px;
                    
                    margin-top: 6px;
                    
                    object-fit: contain;
                    
                    height: 205px;
                    
                    margin-left: -7px;}
            }



        }


        .right-area {
            width: 30%;margin-top: -23px;
            overflow: hidden;
            .catgr{

                form {
                    margin-top: 38px;
                

                    select {
                        width: 100%;
                        padding: 10px 8px;
                        border: solid 1px gainsboro;
                        color: grey;
                        font-size: 15px;
                        font-weight: 400;
                    }
                }
            }

            .cot {
                margin-top: 29px;

                h2 {
                    margin-bottom: -14px;
                    p {
                        margin-top: 26px;
                        font-size: 14px;
                        font-weight: 400;
                    }
               








                }


            }




            .min--dror {
                width: 100%;
                display: flex;
                flex-direction: row;
                .fiers, .second {
                    width: 25%;
                }
                select {
                    padding: 4px 10px;
                }                             


            }
        }



            .map{

                figure{margin: 0;
                    img {
                        width: 100%;
                        margin-top: 26px;
                    }}
            }

            .son {
                margin-top: 13px;

                h2 {
                    font-size: 25px;
                }
                h5 {
                    font-size: 15px;
                    margin-top: 15px;
                }
                
                    }
                }
                

            



                .lage{
                    label {
                        display: inline-flex;
                        input {
                            width: 60px;
                            margin-top: -11px;
                            
                        }
                    }
                    p {
                        font-weight: 300;margin-top: 0 !important;

                        margin-bottom: 11px !important;
                        color: #494949 !important;
                        font-size: 14px;
                        line-height: 24px;
                    }
                }
                #check {
                    padding: 17px 35px;

                    border: none;
                    
                    font-weight: 600;
                    
                    text-transform: uppercase;
                    
                    background: #f38820;
                    
                    color: #ffffff;
                    
                    font-size: 14px;
                    
                    border-radius: 15px;cursor: pointer;
                    margin-left: 32px;
                    
                    margin-top: 11px;
                    &:hover{background: $black-color;}
                }

        }





        
footer {
	background: #e2e2e2;
	margin-top: 79px;
	padding-top: 35px;
	width: 100%;
    overflow: hidden;
    .row {
        display: flex;
        width: 100%;
        .boder, .adrees, .menu {
            width: 100%;
            max-width: 33.333%;
            overflow: hidden;
        }

        .boder{
            h4 {
                font-size: 18px;
                font-weight: 600;
                color: #7f7f7f;}
                h3 {
                    font-size: 20px;
                    font-weight: 400;   color: #7f7f7f;
                }

                ul {
                    padding-left: 0;
                    li {
                        display: inline;
                        a {
                            border: solid 1px #7f7f7f; color: #7f7f7f;;
                            padding: 7px 24px;
                            margin: 5px 2px;
                            display: inline-block;
                            &:hover{color: $primary-color; border: solid 1px $primary-color;}
                        }


                    }
                }


        }

        .adrees{margin-left: 100px;
            h4 {
                font-size: 16px;
                font-weight: 600;
                color: #7f7f7f;
                margin-bottom: -14px;
            }

            p {   width: 58%;
                margin-bottom: 41px;
                a{
                font-size: 17px;
                font-weight: 500; color: $black-color;
                line-height: 17px;
             
                }
            }

        }
        .menu{    display: flex;

            ul{
                padding-right: 0;
                li{

                    

                        a {
                            color: #7f7f7f;
                            font-weight: 600;
                            font-size: 14px;
                            line-height: 48px;
                            &:hover{color:$black-color;}
                        
                    }
                }
            }
            .last {
                margin-left: 39px;
            }
        }
    }


    .colpy0right {
        width: 100%;
        text-align: center;
        padding: 13px 1px;
     p {
            color: #7e7e7e;
            font-size: 14px;
            font-weight: 300;
        }
    }















}


























