@import url(node_modules/@fortawesome/fontawesome-free/css/all.css);
/******Fonts***********************/
@import url("https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap");
/****coolor***********/
/************transtion***************/
/*********heading**********************/
h1 {
  font-size: 30px; }
  @media (max-width: 991) {
    h1 {
      font-size: 25px; } }
  @media (max-width: 480) {
    h1 {
      font-size: 23px; } }

h2 {
  font-size: 22px; }
  @media (max-width: 991) {
    h2 {
      font-size: 18px; } }
  @media (max-width: 480) {
    h2 {
      font-size: 20px; } }

h3 {
  font-size: 18px; }
  @media (max-width: 991) {
    h3 {
      font-size: 16px; } }
  @media (max-width: 480) {
    h3 {
      font-size: 16px; } }

h4 {
  font-size: 14px; }
  @media (max-width: 991) {
    h4 {
      font-size: 13px; } }
  @media (max-width: 480) {
    h4 {
      font-size: 13px; } }

li {
  list-style: none; }

a {
  text-decoration: none; }
  a:hover {
    text-decoration: none; }

figure, figcaption {
  margin: 0; }

/************body****************/
body {
  font-family: 'Poppins', sans-serif;
  margin: 0 auto; }

.container {
  max-width: 1270px;
  margin-left: auto;
  margin-right: auto;
  box-sizing: border-box;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px; }

header {
  width: 100%;
  padding: 20px 0;
  display: block; }
  header .row {
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex; }
    header .row .logo {
      -webkit-flex-basis: 32%;
      -moz-flex-basis: 32%;
      -ms-flex-basis: 32%;
      flex-basis: 32%; }
      header .row .logo img {
        width: 289px;
        height: 61px; }
    header .row #mobile {
      display: none; }
    header .row #desktop {
      -webkit-flex-basis: 75%;
      -moz-flex-basis: 75%;
      -ms-flex-basis: 75%;
      flex-basis: 75%; }
      header .row #desktop ul {
        padding-right: 0;
        padding-left: 0;
        display: -webkit- flex;
        display: -moz- flex;
        display: -ms- flex;
        display: flex;
        -webkit-justify-content: space-evenly;
        -moz-justify-content-: space-evenly;
        -ms-justify-content: space-evenly;
        justify-content: space-evenly; }
        header .row #desktop ul li a {
          color: black;
          text-transform: uppercase;
          font-size: 16px;
          font-weight: 500;
          position: relative;
          transition: all ease-in 0.5s; }
          header .row #desktop ul li a:hover {
            color: #f38820;
            transition: all ease-out 0.3s; }
          header .row #desktop ul li a::after {
            position: absolute;
            background: #f38820;
            content: "";
            width: 0;
            height: 2px;
            bottom: -3px;
            right: 0;
            left: 0;
            margin: 0 auto; }
        header .row #desktop ul a:hover::after {
          width: 100% !important;
          transition: all ease-out 0.5s; }
    header .row .serach {
      -webkit-flex-basis: 10%;
      -moz-flex-basis: 10%;
      -ms-flex-basis: 10%;
      flex-basis: 10%;
      text-align: end; }
      header .row .serach form {
        position: relative; }
        header .row .serach form input {
          display: none;
          position: absolute;
          top: 13px;
          bottom: 0;
          padding: 7px 13px;
          right: 60px;
          transition: all ease-in 0.5s; }
        header .row .serach form button {
          border: none;
          background: #f38820;
          padding: 17px 18px;
          border-radius: 100%; }
          header .row .serach form button:hover {
            background: black !important;
            transition: all ease-in-out 0.4s;
            cursor: pointer; }
          header .row .serach form button svg {
            fill: white !important;
            color: white;
            width: 20px;
            height: 20px; }
    header .row .languages {
      -webkit-flex-basis: 10%;
      -moz-flex-basis: 10%;
      -ms-flex-basis: 10%;
      flex-basis: 10%; }
      header .row .languages .click {
        display: inline-grid; }
      header .row .languages .as {
        display: none; }
    header .row .last {
      -webkit-flex-basis: 10%;
      -moz-flex-basis: 10%;
      -ms-flex-basis: 10%;
      flex-basis: 10%;
      position: relative;
      margin-top: -12px;
      -webkit-align-self: center;
      -moz-align-self: center;
      -ms-align-self: center;
      align-self: center;
      text-align: end; }
      header .row .last::after {
        position: absolute;
        content: "EN";
        top: 3px;
        right: 42px;
        color: #f38820;
        font-size: 12px;
        font-weight: 600; }
      header .row .last .svg-inline--fa.fa-caret-left.fa-w-6 {
        color: #f38820;
        transform: translate(-5px, 0px); }
      header .row .last .toggle-btn {
        border: none;
        background: transparent; }
      header .row .last .click {
        display: inline-grid;
        position: absolute;
        top: -21px;
        padding: 0 17px; }
        header .row .last .click .as {
          font-size: 15px;
          font-weight: 500;
          line-height: 19px;
          text-align: justify;
          color: #000000; }
  header .serach form:hover input {
    display: block; }

/*
@import "baner";**/
#baner {
  width: 100%;
  display: block; }
  #baner .row {
    display: -webkit- flex;
    display: -moz- flex;
    display: -ms- flex;
    display: flex; }
    #baner .row #second {
      -webkit-flex-basis: 33.333%;
      -moz-flex-basis: 33.333%;
      -ms-flex-basis: 33.333%;
      flex-basis: 33.333%;
      transition: all ease-in 0.3s; }
      #baner .row #second:hover {
        flex-basis: 65% !important;
        transition: all ease-out 0.3s; }
      #baner .row #second figure {
        position: relative; }
        #baner .row #second figure img {
          width: 100%;
          height: 600px;
          object-fit: cover; }
        #baner .row #second figure figcaption {
          position: absolute;
          bottom: 30px;
          background: white;
          width: 50%;
          left: 30px;
          padding-left: 30px;
          padding-right: 19px;
          padding-top: 20px;
          padding-bottom: 25px; }
        #baner .row #second figure .fe {
          left: auto !important;
          right: 30px !important; }
        #baner .row #second figure h4 {
          text-transform: uppercase;
          font-size: 14px;
          font-weight: 600; }
        #baner .row #second figure a h1 {
          font-size: 20px;
          font-weight: 600;
          color: #000000;
          line-height: 30px;
          position: relative;
          margin-top: -7px;
          margin-bottom: 38px; }
          #baner .row #second figure a h1::after {
            position: absolute;
            background: #f38820;
            content: "";
            width: 55px;
            height: 5px;
            bottom: -14px;
            left: 0; }
        #baner .row #second figure #baner-h {
          font-size: 14px !important;
          font-weight: 500 !important; }
          #baner .row #second figure #baner-h a {
            word-spacing: 4px;
            padding-left: 4px;
            color: #f38820; }
            #baner .row #second figure #baner-h a:hover {
              text-decoration: underline;
              text-decoration-thickness: 2px;
              transition: all e 0.5s; }
    #baner .row figure::before {
      position: absolute;
      background: #f38820;
      width: 69px;
      height: 69px;
      top: 32px;
      left: 28px;
      z-index: 99;
      border-radius: 100%;
      line-height: 65px;
      text-align: center;
      color: white;
      font-weight: 600;
      font-size: 36px; }
    #baner .row #a::before {
      content: "01"; }
    #baner .row #b::before {
      content: "02"; }
    #baner .row #c::before {
      content: "03"; }
  #baner #second:hover figcaption {
    width: 70% !important; }
  #baner #second:hover figcaption h1 {
    font-size: 30px  !important;
    line-height: 36px  !important;
    transition: all ease-in-out 0.4s; }
